################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LBYARCH_MP2-x86-to-C/.vs/LBYARCH_MP2-x86-to-C.slnx
/LBYARCH_MP2-x86-to-C/.vs/LBYARCH_MP2-x86-to-C/CopilotIndices/18.8.1096.64007
/LBYARCH_MP2-x86-to-C/LBYARCH_.ea7fe828/x64/Debug/LBYARCH_.ea7fe828.tlog
/LBYARCH_MP2-x86-to-C/x64/Debug
/LBYARCH_MP2-x86-to-C/LBYARCH_.ea7fe828/x64/Debug
/LBYARCH_MP2-x86-to-C/LBYARCH_.ea7fe828/x64/Release
